In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Flipkart_laptops.csv")

In [6]:
df

,Unnamed: 0,Name,Price,Rating
0,0,acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...,57490,4.3
1,1,acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...,53990,4.3
2,2,DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...,39690,4.3
3,3,Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...,44999,4.3
4,4,ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...,27990,4.3
...,...,...,...,...
931,931,acer Nitro 5 Ryzen 5 Hexa Core AMD R5-5600H - ...,57990,4.3
932,932,HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...,40400,4.3
933,933,DELL Athlon Dual Core 11th Gen - (8 GB/256 GB ...,34499,4.3
934,934,DELL Core i5 11th Gen - (8 GB/512 GB SSD/Windo...,56990,4.3
935,935,Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...,53990,4.3

index_col: This is to allow you to set which columns to be used as the index of the dataframe. The default value is None, and pandas will add a new column start from 0 to specify the index column. It can be set as a column name or column index, which will be used as the index column.

In [9]:
df = pd.read_csv('Flipkart_laptops.csv', index_col = 0)

In [10]:
df

                                                  Name  Price  Rating
0    acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.3
1    acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990     4.3
2    DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690     4.3
3    Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999     4.3
4    ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990     4.3
..                                                 ...    ...     ...
931  acer Nitro 5 Ryzen 5 Hexa Core AMD R5-5600H - ...  57990     4.3
932  HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...  40400     4.3
933  DELL Athlon Dual Core 11th Gen - (8 GB/256 GB ...  34499     4.3
934  DELL Core i5 11th Gen - (8 GB/512 GB SSD/Windo...  56990     4.3
935  Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...  53990     4.3

[936 rows x 3 columns]

# Usecols

You can use the usecols argument within the read_csv() function to read specific columns from a CSV file into a pandas DataFrame.

# Method 1: Use usecols with Column Names

df = pd.read_csv('my_data.csv', usecols=['this_column', 'that_column'])

# Method 2: Use usecols with Column Positions

df = pd.read_csv('my_data.csv', usecols=[0, 2])

In [13]:
df = pd.read_csv('Flipkart_laptops.csv', usecols=["Name", "Price", "Rating"])
df

                                                  Name  Price  Rating
0    acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.3
1    acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990     4.3
2    DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690     4.3
3    Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999     4.3
4    ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990     4.3
..                                                 ...    ...     ...
931  acer Nitro 5 Ryzen 5 Hexa Core AMD R5-5600H - ...  57990     4.3
932  HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...  40400     4.3
933  DELL Athlon Dual Core 11th Gen - (8 GB/256 GB ...  34499     4.3
934  DELL Core i5 11th Gen - (8 GB/512 GB SSD/Windo...  56990     4.3
935  Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...  53990     4.3

[936 rows x 3 columns]

In [15]:
df = pd.read_csv('Flipkart_laptops.csv', usecols=["Name", "Price", "Rating"], nrows = 100)
df

                                                 Name  Price  Rating
0   acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.3
1   acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990     4.3
2   DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690     4.3
3   Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999     4.3
4   ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990     4.3
..                                                ...    ...     ...
95  Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...  37990     4.3
96  Infinix INBook X1 Neo Series Celeron Quad Core...  18990     4.6
97  HP Pavilion x360 Core i3 11th Gen - (8 GB/256 ...  46990     4.6
98  ASUS VivoBook Core i3 11th Gen - (8 GB/256 GB ...  32990     4.6
99  acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.6

[100 rows x 3 columns]

In [16]:
df = pd.read_csv('Flipkart_laptops.csv', index_col = 0)
df

                                                  Name  Price  Rating
0    acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.3
1    acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990     4.3
2    DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690     4.3
3    Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999     4.3
4    ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990     4.3
..                                                 ...    ...     ...
931  acer Nitro 5 Ryzen 5 Hexa Core AMD R5-5600H - ...  57990     4.3
932  HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...  40400     4.3
933  DELL Athlon Dual Core 11th Gen - (8 GB/256 GB ...  34499     4.3
934  DELL Core i5 11th Gen - (8 GB/512 GB SSD/Windo...  56990     4.3
935  Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...  53990     4.3

[936 rows x 3 columns]

The head() method returns a specified number of rows, string from the top

In [17]:
df.head(6)

                                                Name  Price  Rating
0  acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490     4.3
1  acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990     4.3
2  DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690     4.3
3  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999     4.3
4  ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990     4.3
5  realme Book(Slim) Intel Evo Core i5 11th Gen -...  41990     4.3

The tail() method returns a specified number of last rows. The tail() method returns the last 5 rows if a number is not specified

In [18]:
df.tail()

                                                  Name  Price  Rating
931  acer Nitro 5 Ryzen 5 Hexa Core AMD R5-5600H - ...  57990     4.3
932  HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...  40400     4.3
933  DELL Athlon Dual Core 11th Gen - (8 GB/256 GB ...  34499     4.3
934  DELL Core i5 11th Gen - (8 GB/512 GB SSD/Windo...  56990     4.3
935  Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...  53990     4.3

The info() method prints information about the DataFrame. The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values). Note: the info() method actually prints the info.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 0 to 935
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    936 non-null    object
 1   Price   936 non-null    int64
 2   Rating  936 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.2+ KB

The describe() method returns description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column: count - The number of not-empty values. mean - The average (mean) value

In [20]:
df.describe()

               Price      Rating
count     936.000000  936.000000
mean    75746.465812    4.384615
std     55891.976308    0.287974
min     13990.000000    3.800000
25%     44217.250000    4.300000
50%     57990.000000    4.300000
75%     79990.000000    4.600000
max    499990.000000    5.000000

# Data Manipulation